{
  "extends": [
    "@codsbe/eslint-config"
  ],
  "rules": {
    "no-console": "off",
    "no-restricted-syntax": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
